.menu{
    background: url(../about/img/Header-614041282-India.jpg);
    height: 320px;
    background-size: cover;
    
}
.header{
    font-size: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
   
}
.cont {
margin-top:100px ;
}
.car{
    box-shadow:0 10px 30px 0 rgba(0, 0, 0, 0.1) ;
}
.side{
    margin-top: 140px;
}
.font{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.learn{
    margin-top: 50px;
}
 
 .text{
    list-style-type: none;
    text-decoration: none;
    margin-top: -50px;
 }
 
 
  