.menu{
    background: url(../about/img/Header-614041282-India.jpg);
    height: 500px;
    background-size: cover;
    
}
.header{
    font-size: 20px;
    margin-top: 40px;
}
.car{
    background-color: beige;
}
.side{
    margin-top: 100px;
}
.font{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.learn{
    margin-top: 50px;
}
 
 .text{
    color: rgba(255, 255, 0, 0.664);
    text-decoration: none;
    font-size: 20px;
    margin-top: -50px;
 }